*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #1f0077;
    color: #fff;
}
.nav-bar img{
    border-image: fill;
    margin: 20px 0 0 80px;
    cursor: pointer;
}
.nav{
    margin: -50px 0 0 48%;
}
.nav li{
    display: inline;
    margin: 0 0 0 60px;
    font-size: 18px;
    cursor: pointer;
}
.nav button{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    background-image: linear-gradient(90deg,#00b1f7,#0088e1);
    box-shadow: 1px 1px 2px #000;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
}
.interface h1{
    font-weight: normal;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 35px;
}
.news{
    margin: 50px 0 50px 0;
}
.interface p{
    letter-spacing: .5px;
    font-size: 20px;
}
.material-icons{
    position: fixed;
    margin: 20px 0  0 20px;
}
.interface input{
    border: none;
    outline: none;
    padding: 20px 100px;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
    margin-bottom: 5px;
    background-color: #705ed6;
    letter-spacing: 1px;
    color: #fff;
}
::placeholder{
    font-size: 20px;
    color: #f1f1f1;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.interface button{
    border: none;
    outline: none;
    margin-left: -10px;
    padding: 20px 50px;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
    color: #f1f1f1;
    background-image: linear-gradient(to right,#0088e1,#00b1f7);
    cursor: pointer;
}
.interface button:hover{

    background-image: linear-gradient(to right,#00b1f7,#0088e1);
}
.info{
    background-color: #3c0ab6;
    width: 400px;
    height: 500px;
    margin-top: -25px;
    box-shadow: 2px 3px 10px #000;
}
.info .header{
    background-color: #4719ba;
    padding: 20px;
}
.headxer h1{
    margin: 35px 0 10px 0;
    text-indent: 20px;
}
.header h1::before{
    content: '';
    position: absolute;
    top: 100px;
    margin-left: -3%;
    background-image: url('icon/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
.info .report{
    text-align: center;
}
#description{
    font-size: 20px;
    text-transform: capitalize;
    position: relative;
    top: -50px;
    text-shadow: 1px 1px 2px black;
}
.info .output{
    display:inline-flex;
}
.digit{
    margin-left: 100px;
}
.digit h1{
    text-shadow: 1px 1px 3px #000;
}
.digit span{
    font-size: 18px;
}
.list_info{
    margin: 10px 0 0 150px;
}
#wind::before{
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    right: 200px;
    margin-top: -5px;
    background-image: url('icon/wind.png');
    background-size: contain;
}
#humidity::before{
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    right: 200px;
    margin-top: -5px;
    background-image: url('icon/hum.png');
    background-size: contain;
}
.convertor{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.container::before{
    content: '';
    position: absolute;
    top: 100px;
    left: 200px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    width: 300px;
    height: 300px;
    background-color: rgb(255, 3, 192);
    background-image: linear-gradient(90deg,rgba(255,3,192,1)0%,rgba(44,126,255,1)97%);
    z-index: -1;
}
